doctype html
html
    include ./head.pug
    body

        h1 DASHBOARD
        a(href="/") Home
        a(href="/login") Login
        a(href="/dashboard") Dashboard
        a(href="/logout") Logout
        include ./footer.pug